<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    
    <% if (isAuthenticated) { %>
        <div class="header__button">
            <a href="/logout">Logout</a>
        </div>
    <% } %>
</header>
