<h3>About myself</h3>
<hr>
<div>
    <p>
        I am a React Frontend Web Developer, with ~7 years of experience in web development. Started working with ReactJS about 6 years ago, as well as aferent frameworks and plugins. I'm working my way up to learning BE technologies to become full-stack. 
    </p>

    <h4>
        My skills:
    </h4>
    <ul>
        <li>ReactJS, Javascript, Typescript</li>
        <li>React Query, Redux, Mobx, GraphQL</li>
        <li>React Hook Form/Formik/Yup, React Router, React-i18next, React Bootstrap, react-testing-library/jest</li>
        <li>Material UI, Semantic UI, Chakra UI, classnames, storybook, lodash</li>
        <li>HTML/5, CSS/3, SASS, SCSS, Bootstrap, Eslint</li>
        <li>Agile methodologies, Git, Github/Bitbucket/Gitlab, Jira, Postman, Jenkins, Confluence</li>
    </ul> 
</div>

<h3>About the blog</h3>
<hr>
<div>
    <p>
        The blog was made using Node.js, Express and MongoDB 
    </p>

    <h4>
        Blog Features:
    </h4>
    <ul>
        <li>Post search</li>
        <li>Post view / add / edit / delete</li>
        <li>Routing</li>
        <li>Simple dashboard pagination</li>
        <li>Admin panel</li>
        <li>Admin login / logout</li>
    </ul> 
</div>