<h3>Contact information</h3>

<p><b>Email:</b> cosmin.chinde@gmail.com</p>
<p><b>Phone:</b> +40747647938</p>
<p><b>Linkedin:</b> <a href="https://www.linkedin.com/in/cosmin-chinde-7665bb132">Linkedin profile</a></p>
<p><b>Github:</b> <a href="https://github.com/ChCosmin">Github page</a></p>